{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - 
    {% if config and config.name %}
        {{ config.name }}
    {% else %}
        Proyectos Hardware Libre
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>Explora Arquitectura de Computadoras:</h1>
        <p>un curso que inspira la innovación y la creación de proyectos con hardware libre.
            Despierta la curiosidad por los fundamentos de la arquitectura computacional y la robótica,
            impulsando soluciones a problemas reales. Conecta tecnología y creatividad para mejorar vidas, 
            fortalecer comunidades y construir un futuro más colaborativo.</p>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 pt-5">
            <p>"La creatividad no tiene límites cuando la tecnología es libre."</p>
        </div>
        <div class="col-md-12 col-lg-6">
            <img src="{% static 'img/HardwareLibre.jpg' %}" alt="Error cargar imagen" style="width: 200px; height: auto;">
        </div>
    </div>
{% endblock %}
